
.capturas-blancas {
    float: left;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-wrap:wrap-reverse;
    max-height: 350px;
    gap: 20px;
}

.capturas-negras {
    float: right;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    max-height: 350px;
    gap: 20px;
}

.pieza-capturada {
    width: 35px;
    height: 35px;
}

.container {
    width: 65%;
    margin: auto;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    width: 480px;
    height: 480px;
    border: 2px solid black;
    margin: 0 auto;
}

.casilla {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.blanco {
    background-color: #f0d9b5;
}

.negro {
    background-color: #b58863;
}

.seleccionado {
    outline: 3px solid yellow;
}

.casilla.resaltado {
    background-color: rgb(138, 98, 62);
    opacity: 0.9;
    outline: 1px solid rgb(0, 0, 0);
}

.pieza-imagen {
    width: 50px;
    height: 50px;
    margin-bottom: -8px;
}

.historial-container {
    max-width: 500px;
    margin: auto;
}

.historial {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}